/* Import partials */
@use 'scss/scrollbar';

$body: #f4f6f8;
$card: #fff;

html {font-size: 62.5%;}
html, body { height: 100%; margin: 0; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $body;
  font-size: 1.2rem !important;
  color: #1E2027;
}


mat-card {
  background-color: $card;
}


.mat-drawer-container {
  background-color: $body;
}


/* Move to typography scss */
.large-title {
  font-size: 24px;
}


