<!--<mat-toolbar color="primary" class="example-toolbar">-->
<!--  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
<!--  <h1 class="example-app-name">Responsive App</h1>-->
<!--</mat-toolbar>-->
