<form [formGroup]="bookmarkForm" (submit)="submit()">
  <div class="field-container">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Google" formControlName="name" required>
      <mat-error *ngIf="bookmarkForm.controls.name.invalid">Mandatory Name</mat-error>
    </mat-form-field>
  </div>

  <div class="field-container">
    <mat-form-field appearance="outline">
      <mat-label>Url</mat-label>
      <input matInput placeholder="https://www.google.com" formControlName="url" required>
      <mat-error *ngIf="bookmarkForm.controls.url.invalid">Mandatory Url</mat-error>
    </mat-form-field>
  </div>

  <div class="field-container">
    <mat-form-field appearance="outline">
      <mat-label>Group</mat-label>
      <input matInput placeholder="group" formControlName="group" required>
      <mat-error *ngIf="bookmarkForm.controls.group.invalid">Mandatory Group</mat-error>
    </mat-form-field>
  </div>

  <div class="field-container">
    <button mat-stroked-button type="submit" color="primary">Submit</button>
    <button mat-stroked-button type="reset" color="warn">Cancel</button>
  </div>
</form>
