:host {
  flex: 1;
  padding: 16px;
}

.bookmarks-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bookmarks-list-title-container {
  padding: 0 0 16px 0;
  display: flex;

  .bk-list-title {
    flex: 1;
    margin: 0;
  }
}

.bookmark-elements-container {
  overflow-y: scroll;
  overflow-x: visible;
}


.bookmark-element {
  padding: 8px 16px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 8px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #f8fafc;
    //cursor: pointer;
  }

  .bk-element-content {
    display: flex;

    .bk-element-details {
      flex: 1;
    }
  }

  span {
    display: block;

    &.bookmark-link {
      font-size: 1rem
    }
  }

  .bk-element-actions {
    button {
      padding: 0 5px;
      min-width: auto;
      transition: all 0.3s ease-out;

      &:hover {
        background-color: #ecf5f8;
      }

      mat-icon {
        font-size: 18px;
      }
    }
  }

}



