<div class="bookmarks-list-container">
  <div class="bookmarks-list-title-container">
    <h2 class="bk-list-title large-title">Work</h2>
    <div class="bookmarks-list-actions">
      <button disabled mat-stroked-button (click)="addNewBookmark()">
        <mat-icon aria-hidden="false" aria-label="Add new bookmark">add</mat-icon> New Bookmark
      </button>
    </div>
  </div>

  <div class="bookmark-elements-container">
    <div class="bookmark-element" *ngFor="let bookmark of bookmarks" (click)="onBookmarkClick()">
      <div class="bk-element-content">
        <div class="bk-element-details">
          <span class="bookmark-title">{{bookmark.name}}</span>
          <span class="bookmark-link"><a href="{{bookmark.url}}" title="{{bookmark.name}}" target="_blank">{{bookmark.url}}</a></span>
        </div>
        <div class="bk-element-actions">
          <button disabled mat-icon-button (click)="editBookmark(bookmark)">
            <mat-icon aria-hidden="false" aria-label="Add new group">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="removeBookmark(bookmark)">
            <mat-icon aria-hidden="false" aria-label="Add new group" >clear</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
