<div class="app-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Simple Bookmarks</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
                 [opened]="!mobileQuery.matches"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <div class="sidenav-title-container">
        <div class="sidenav-title">
          Groups
        </div>
        <div class="add-group">
            <mat-icon aria-hidden="false" aria-label="Add new group">add</mat-icon>
        </div>
      </div>

      <div class="groups-container">
        <div class="group-element" *ngFor="let group of (groups$ | async), let i = index" [ngClass]="{'active' : i === 0}">
          <span class="group-name"   >{{group.name}}</span>
          <span class="bk-count">
            #{{group.id}}
          </span>
        </div>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
       <ng-bookmarks-bk-list [bookmarks]="bookmarks$ | async"
                             [onBookmarkClick]="selectBookmark.bind(this)"
                             [onAddBookmark]="addBookmark.bind(this)"
                             [onRemoveBookmark]="removeBookmark.bind(this)"
       ></ng-bookmarks-bk-list>

        <div class="bookmarks-details-container mat-elevation-z1">
          <ng-bookmarks-bk-form
            [onSubmit]="addBookmark.bind(this)"
           ></ng-bookmarks-bk-form>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
