.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav {
  width: 200px;
}

$breakpoint-tablet: 768px;
.content-container {
  height: 100%;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }

  .bookmarks-details-container {
    @media (max-width: $breakpoint-tablet) {
      position: fixed;
      bottom: 0;
      height: 60vh;
    }
    @media (min-width: $breakpoint-tablet) {
      margin: 16px;
      background: #fff;
      border-radius: 4px;
      width: 30%;
    }
  }

  .bookmarks-details-container {
    //width: 50%;
    padding: 16px;
    overflow-y: scroll;
  }

  .details {
    //border-left;
  }

}

mat-sidenav {
  padding: 16px;

  .sidenav-title-container {
    display: flex;

    .sidenav-title {
      flex: 1;
    }
  }

  .group-element {
    padding: 4px 12px;
    border-radius: 4px;
    display: flex;
    background-color: rgb(234, 234, 234);
    color: #2b2b2b;
    margin-bottom: 8px;
    transition: all 0.1s ease-out;

    &.active,
    &:hover {
      background-color: rgb(81, 104, 194);
      color: #fff;
    }

    .group-name {
      flex: 1;
    }
  }

}
